{% extends 'base.html' %}

{% block body %}


<div class="container">
<br>
<button type="button" class="btn btn-warning btn-lg btn-block" onclick="window.location.href = 'selfpredbud';">Self Buddy</button>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'familypredbud';">Family Buddy</button>
<br>
  <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href = 'friendpredbud';">Friend Buddy</button>
  <br>
  <button type="button" class="btn btn-info btn-lg btn-block" onclick="window.location.href = 'crushpredbud';">Crush Buddy</button>
  <br>
  <button type="button" class="btn btn-danger btn-lg btn-block" onclick="window.location.href = 'relatpredbud';">Realtionship Buddy</button>
<br>
  </div>



{% endblock body %}