<html>
{% load static %}
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="{% static 'css/all.css' %}" rel="stylesheet">
    <style>
 optgroup { font-size:25px; }
	  
	  .modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content{
	       width: 450px;
 
          height:350px !important;
		  border:DarkViolet 16px solid;
		  border-radius: 25px


}
select {
   font-size: 100px;
}
    </style>
  </head>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><h2>MyPeeps<h2></a>
    </div>

    <ul class="nav navbar-nav navbar-right">

    </ul>
  </div>
</nav>


  

  <body onload="myFunction_open1()">
		<div class="container">

  
    
  <div class="modal fade" id="nameModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
    
        <div class="modal-body modb">
		<h2>Enter the name of your friend?<h2>
          <input type=text id="namei" placeholder="enter............">
        </div>
      
      </div>
      
    </div>
  </div>
  

    <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        <div class="modal-body">
		 <h5>How you feel in the presence of the person?</h5><br>
	<select class="form-control" id="opt1" name="opt1">
	<optgroup>
		<option value="1">Very Much</option>
        <option value="2">Most of the times</option>
        <option value="3">Quite good</option>
        <option value="4">Sometimes not comfortable.</option>
        <option value="5">Not comfortable</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">  
	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Time spent together</h5><br>
	<select class="form-control" id="opt2" name="opt2">
	
	<optgroup>
	  <option value="1">Most of the time together</option>
        <option value="2">Conisderable together</option>
        <option value="3">Often Meets</option>
        <option value="4">Less</option>
        <option value="5">Very Less</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Period you’ve know each other</h5><br>
	<select class="form-control" id="opt3" name="opt3">
	
	<optgroup>
			     <option value="1">We’re old friends.</option>
        <option value="2">Most of the  sometime </option>
        <option value="3">Known for sometime</option>
        <option value="4">Met Just Recently</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Do you feel like avoiding the person?</h5><br>
	<select class="form-control" id="opt4" name="opt4">
	
	<optgroup>
  <option value="1">Never</option>
        <option value="2">Not most of the times,but sometim</option>
        <option value="3">Sometimes</option>
        <option value="4">Often</option>
        <option value="5">Very Often</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Do you feel avoided</h5><br>
	<select class="form-control" id="opt5" name="opt5">
	
	<optgroup>
	  <option value="1">Never</option>
        <option value="2">Not really</option>
        <option value="3">Sometimes</option>
        <option value="4">Often</option>
        <option value="5">Very Often</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
    <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog">
		    <div class="modal-content">

        <div class="modal-body">
		 <h5>Helpful</h5><br>
	<select class="form-control" id="opt6" name="opt6">
	
	<optgroup>
		    <option value="1">Always</option>
        <option value="2">Most of the times</option>
        <option value="3">Sometimes</option>
        <option value="4">Neverat most of times</option>
        <option value="5">Never Ever</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		<h5>How do you feel after the  conversation?</h5><br>
	<select class="form-control" id="opt7" name="opt7">
	<optgroup>
		  <option value="1">Joyful</option>
        <option value="2">Peaceful</option>
        <option value="3">Hopeful</option>
        <option value="4">Excited</option>
        <option value="5">Angry</option>
        <option value="6">Tired</option>
        <option value="7">Nothing really</option>
        <option value="8">Drained</option>
	

		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		  <h5>Your Life</h5><br>
	<select class="form-control" id="opt8" name="opt8">
	
	<optgroup>
		        <option value="1">I’m Very successful in my career and Life</option>
        <option value="2">I’m quite successful </option>
        <option value="3">I’m  working on career and success</option>
        <option value="4">I’m struggling with life.</option>
        <option value="5">I’m a total failure and messed up person.</option>
        
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal9" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Friend’s Life</h5><br>
	<select class="form-control" id="opt9" name="opt9">
	
	<optgroup>
		        <option value="1">He’s very Successful at what he does.</option>
        <option value="2">He’s quite successful at what he does.</option>
        <option value="3">Currently He’s working on it.</option>
        <option value="4">He’s struggling with life.</option>
        <option value="5">He’s a total mess.</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal10" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Intoxicant’s</h5><br>
	<select class="form-control" id="opt10" name="opt10">
	
	<optgroup>
		     <option value="1">Nothing as such</option>
        <option value="2">Occassionally</option>
        <option value="3">Has a regular habbit</option>
        <option value="4">He’s addicted to lot of intoixacnts</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Your Intoxicant’s habbit </h5><br>
	<select class="form-control" id="opt11" name="opt11">
	
	<optgroup>
        <option value="1">Nothing as such</option>
        <option value="2">Occassionally</option>
        <option value="3">I do have an regular habbit</option>
        <option value="4">I’m an addict </option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal12" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		<h5>Your current mental state</h5><br>
	<select class="form-control" id="opt12" name="opt12">
	
	<optgroup>
		      <option value="1">I'm fine and very happy</option>
        <option value="2">Quite happy</option>
        <option value="3">I have my ups and downs</option>
        <option value="4">Often I’m sad.</option>
        <option value="5">Maybe I’m depressed</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal13" role="dialog">
    <div class="modal-dialog">
	  	    <div class="modal-content">

        <div class="modal-body">
		 <h5>Guess about your friend’s mental state </h5><br>
	<select class="form-control" id="opt13" name="opt13">
	
	<optgroup>
		   <option value="1">He’s fine and very happy</option>
        <option value="2">Quite Happy</option>
        <option value="3">Might have personal ups and downs</option>
        <option value="4">He’s quite sad</option>
        <option value="5">5.Maybe he’s depressed</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal14" role="dialog">
    <div class="modal-dialog">
	  	  	    <div class="modal-content">

        <div class="modal-body">
		<h5>Agree Upon Things</h5><br>
	<select class="form-control" id="opt14" name="opt14">
	
	<optgroup>
        <option value="1">Always</option>
        <option value="2">Most of the times.</option>
        <option value="3">Occassionally</option>
        <option value="4">Rarely</option>
        <option value="5">Never</option>
		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
          <button type="button" class="btn btn-success"  onclick=Next()>Next <i class="fas fa-arrow-circle-right"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
	    <div class="modal fade" id="myModal15" role="dialog">
    <div class="modal-dialog">
	  
	  	  	    <div class="modal-content">

        <div class="modal-body">
		
	<select class="form-control" id="opt15" name="opt15">
	
	<optgroup>

		</optgroup>
    </select>
        </div>
        <div class="modal-footer">
		 <button type="button" class="btn btn-warning float-left" onclick=Prev()>Previous <i class="fas fa-arrow-circle-left"></i></button>
	<span style="padding-left:10px">
       <button type="button" class="btn btn-primary"  onclick=Analyze()>Analyze <i class="fab fa-searchengin"></i></button><br>
		  
        </div>
      </div>
	   </div>
 </div>
  <div class="modal" tabindex="-1" role="dialog" id="newm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Get Result for your Relationship?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="AnalyzeAjax()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  
</div>

  </body>
  <script>
	var modelnum=1;
	var valueArr=new Array(15);
	var innerTextArr=new Array(15);
	var seletIndex=new Array(15);
	

	
	var input = document.getElementById("namei");
	var pname;
	input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
	
	
	pname=input.value;
	$("#nameModal").modal('hide');
	myFunction_open2()
	
  
  }
});

function Analyze()
{


		$("#myModal"+modelnum).modal('hide');
		$("#newm").modal('show');


}

	function AnalyzeAjax()
	{
		$.ajax({
		type: "POST",
		data: {arrayval:valueArr},
		url: "",
		success: function(msg){
		
   }
});
	
	}
	function Next()
	{
		console.log("here",modelnum);
		selectvar=(document.getElementById("opt"+modelnum));
		valueArr[modelnum-1]=selectvar.value;
		
		seletIndex[modelnum-1]=selectvar.selectedIndex;
		$("#myModal"+modelnum).modal('hide');
		modelnum++;
		console.log("hereddd",modelnum);
		$("#myModal"+modelnum).modal('show');
		console.log(valueArr,innerTextArr)
		
		
		
	}
	
	function Prev()
	{
	$("#myModal"+modelnum).modal('hide');
	
		if(modelnum==1)
		{
			$("#nameModal").modal('show');
			input.value=pname;
		}
		else
		{
			modelnum--;
		
			$("#myModal"+modelnum).modal('show');
			selectvar=(document.getElementById("opt"+modelnum));
			selectvar.selectedIndex=seletIndex[modelnum-1];
			
		}		
		
	}
	
	function myFunction_open3()
	{
		//  $.when($('infoModal').fadeOut(500))
  // .then(function(){
     // $("#myModal1").modal('show');
   //});
	
	//$("#myModal1").modal('show');
$("#myModal1").modal('show');

	
	}
  function myFunction_open2()
  {
 
  //$("#infoModal").modal('show');
  //myFunction_open3();
  $("#myModal1").modal('show');
	 
  }
  function myFunction_open1()
  {
	$("#nameModal").modal('show');
  }
  function Close1()
  {
	
	$("#nameModal").modal('hide');
	$("#myModal1").modal('show');
  }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>