{% extends 'base.html' %}

{% block body %}


<div class="container">
<button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'familypred';">Family Predictions</button>
  <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href = 'friendpred';">Friend Classification</button>
  <button type="button" class="btn btn-info btn-lg btn-block" onclick="window.location.href = 'crushpred';">Crush Classification</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" onclick="window.location.href = 'relatpred';">Realtionship Classification</button>

  </div>



{% endblock body %}