{% extends 'base.html' %}


{% block body %}

<div class="container">
  <div class="card-body">
  {% for i in profile_info %}
    <h5 class="card-title">Welcome {{i.user.first_name}}</h5>
    
    <p>{{i.tribe}}</p>
    <p>{{i.friends}}</p>
    <p>{{i.user.username}}</p>
    <p>{{i.user.email}}</p>
    <p>{{i.bio}}</p>
    <p></p>
    {% endfor %}
  </div>
<form action="Addbio" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter your Bio</label>
    <input type="email" class="form-control" id="bio" name="bio"aria-describedby="emailHelp" placeholder="Share your beautiful info">
    <small id="emailHelp" class="form-text text-muted">Share Your ID</small>
  </div>
 
  <button type="submit" class="btn btn-primary">update</button>
</form>


</div>

   {% endblock body %}